In [72]:
import pandas as pd

In [73]:

col= ['account','name'] 
users = pd.DataFrame([[900001,'Alice'],[900002,'Bob'],[900003,'Charlie']],columns=col)

In [74]:
users

   account     name
0   900001    Alice
1   900002      Bob
2   900003  Charlie

In [75]:
transactions = pd.DataFrame({'trans_id':[1,2,3,4,5,6,7]
                            ,'account':[900001,900001,900001,900002,900003,900003,900003]
                            ,'amount':[7000,7000,-3000,1000,6000,6000,-4000]
                            ,'transacted_on':['2020-08-01','2020-09-01','2020-09-02','2020-09-12','2020-08-07','2020-08-07','2020-09-11']})

In [76]:
transactions

   trans_id  account  amount transacted_on
0         1   900001    7000    2020-08-01
1         2   900001    7000    2020-09-01
2         3   900001   -3000    2020-09-02
3         4   900002    1000    2020-09-12
4         5   900003    6000    2020-08-07
5         6   900003    6000    2020-08-07
6         7   900003   -4000    2020-09-11

In [77]:
import pandas as pd

def account_summary(users: pd.DataFrame, transactions: pd.DataFrame) -> pd.DataFrame:
    # 1. Calculate balance per account by summing transaction amounts
    account_balances = (
        transactions
        .groupby('account', as_index=False)['amount']
        .sum()
        .rename(columns={'amount': 'balance'})
    )

    # 2. Join balances with user names
    user_balances = pd.merge(account_balances, users, on='account', how='inner')

    # 3. Filter users with balance greater than 10,000
    high_balance_users = user_balances[user_balances['balance'] > 10000]

    # 4. Return name and balance columns
    return high_balance_users[['name', 'balance']]

In [78]:
account_summary(users,transactions)

    name  balance
0  Alice    11000