In [16]:
data = [[9, 'Hercy', None, 43], [6, 'Alice', 9, 41], [4, 'Bob', 9, 36], [2, 'Winston', None, 37]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'reports_to', 'age']).astype({'employee_id':'Int64', 'name':'object', 'reports_to':'Int64', 'age':'Int64'})

In [17]:
import pandas as pd
import numpy as np

def count_employees(employees: pd.DataFrame) -> pd.DataFrame:
    # Step 1: Group by manager (reports_to) to count and average
    report_summary = employees.groupby('reports_to').agg(
        reports_count=('employee_id', 'count'),
        average_age=('age', 'mean')
    ).reset_index()

    # Step 2: Use numpy rounding to round half up
    report_summary['average_age'] = np.floor(report_summary['average_age']+0.5)

    # Step 3: Merge back to get manager info
    manager_info = employees.merge(
        report_summary,
        left_on='employee_id',
        right_on='reports_to',
        how='inner'
    )[['employee_id', 'name', 'reports_count', 'average_age']]

    # Step 4: Sort
    manager_info = manager_info.sort_values(by='employee_id').reset_index(drop=True)

    return manager_info

In [18]:
count_employees(employees=employees)

   employee_id   name  reports_count  average_age
0            9  Hercy              2         39.0