In [1]:
import pandas as pd 
data = [['1', '1', 'N'], ['2', '1', 'Y'], ['2', '2', 'N'], ['3', '3', 'N'], ['4', '2', 'N'], ['4', '3', 'Y'], ['4', '4', 'N']]
employee = pd.DataFrame(data, columns=['employee_id', 'department_id', 'primary_flag']).astype({'employee_id':'Int64', 'department_id':'Int64', 'primary_flag':'object'})

In [19]:
import pandas as pd

def find_primary_department(employee: pd.DataFrame) -> pd.DataFrame:
    dept_counts = (
    employee.groupby('employee_id')['department_id']
    .count()
    .reset_index(name='dept_count')
)
    employee_with_counts = pd.merge(employee, dept_counts, on='employee_id')
    filtered = employee_with_counts[
        (employee_with_counts['primary_flag'] == 'Y') |
        (employee_with_counts['dept_count'] == 1)
    ]
    result = filtered[['employee_id','department_id']]
    return result

In [20]:
find_primary_department(employee=employee)

   employee_id  department_id
0            1              1
1            2              1
3            3              3
5            4              3